/.vscode/settings.json
/.venv
__pycache__
/backups
/logs
/update_logs
/localized_data_es
/localized_data_en
/localized_data_update
/localized_data_temp
/localized_data_origin
/traduccionfull
tmp_test.py
translate_gui.bat
.env
